body{
    background-image: url('dark_wood.png')
}

p{
    color: white;
    font-family: "Arial";
    font-weight: bold; 
    margin: 30px;
    background: yellow;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px; 

}

li{

}

#Header{
    text-align: center;
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
    border:solid 8px black; 
    background-color: #8E41D5;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#Header h1{
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold; 

}

#LeftNav{
    text-align: center; 
    float: left;
    width: 400px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
    border:solid 8px black; 
    list-style-type: none; 
    padding-bottom: 8px; 
    background-color: #8E41D5;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#LeftNav img{

}

#LeftNav u1{

}

#LeftNav h3{

}

#Content{
    text-align: center; 
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
    border:solid 8px black; 
    list-style-type: none; 
    padding: 15px; 
    background-color: #8E41D5;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#Footer{
    text-align: center; 
    background-color: #8E41D5;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

ul{
    list-style-type: none; 
    padding-left: 0px; 
}
a{
    color: white; 
    font-weight: bold; 
    font-size: 24px; 
}

#tagid1 {
    padding: 20px; 
    border: 20px groove #ffffff } 
.class1, #tagid2 { font-family: 'comic sans ms', fantasy; color: rgb(100%,100%,0%) 
}

h1, h2, div.class5, blockquote { background: #000080 } 
p.special {
     font: 12pt/14pt sans-serif;
     margin: 5px 0px 2px 25px;
     border: medium dashed #ff0000;
     background: white url(http://www.foo.com/image.gif) repeat-x fixed top right } 
blockquote {
     margin-left: 2cm; 
     color: #00ff00 } 

